/* hide footer */
div.wrapper { bottom: 0; }
.footer { display: none; }

/* hide bottom border */
div.app { border-bottom: 0; }

/* disable min-width */
div.wrapper, div.wrapper div.app { min-width: initial; }

/* hide topbar/sidebar */
.sidebar, .sidebar .sideview, .toolbar, .tagbar { display: none; }

/* note position */
div.note { left: 0; top: 20px; right: 208px; }

/* fix sidebar top position */
div.sidebar ul.notes { top: 22px; }

/* fix statusbar(saved..) top position */
ul.statusbar { padding-top: 0; }

/* fix main textarea padding */
div.note #txtarea { padding: 10px 2.5em 50px 2.5em; }

/* remove text shadow */
ul.notes li { text-shadow: none; }
