/* text */
body, .note #txtarea { color: #333 !important; }
body, .app { color: #333 !important; }
.notes li .note-preview-title { color: #333 !important; }
.notes li .note-preview-line { color: #333 !important; }

/* background */
body, .app { background-color: #fff !important; }

/* border */
.sidebar { border-right: 1px solid #f0f0f0 !important; }

/* sidebar selected/hover background */
.notes li:hover { background-color: #fafafa !important; }
.notes li.selected {
    background: #f4f4f4 !important;
    background-color: #f4f4f4 !important;
}
