/* text */
body, .note #txtarea { color: #93a1a1 !important; }
body, .app { color: #93a1a1 !important; }
.notes li .note-preview-title { color: #93a1a1 !important; }
.notes li .note-preview-line { color: #93a1a1 !important; }

/* background */
body, .app { background-color: #002b36 !important; }

/* border */
.sidebar { border-right: 1px solid #073642 !important; }

/* sidebar selected/hover background */
.notes li:hover { background-color: #073642 !important; }
.notes li.selected {
    background: #073642 !important;
    background-color: #073642 !important;
}
